# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the popular languages that Data Scientists use are:

1. Python
2. Java
3. R
4. Scala

# Some of the commonly used libraries used by Data Scientists include:

1. pandas
2. numpy
3. Scikitlearn
4. nltk
5. matplotlib

| Data Science Tools  |
|-------------------- |
| Jupyter Notebook    |
| RStudio             |
| Spyder              |

### Below are a few examples of evaluating arithmetic expressions in Python

In [13]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [17]:
#This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

# Objectives:

* Python
* Rstudio
* R 
* Data Science libraries
* Tools for Data Science

In [ ]:
# Author: